.button-link {
  color: rgba(4, 4, 4, 1);
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 2.25rem;
  padding: 0.25rem 0.875rem;
  font-size: 1rem;
  line-height: 1.4375rem;
  letter-spacing: 0.0005em;
  font-weight: 570;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  white-space: pre-line;
  border-radius: 5px;
  height: auto;
  text-decoration: none;
  min-width: auto;

  &:hover {
    background: rgba(0,0,0,0.03);
  }
}

.button-link-backward {
  &::before {
    content: "← ";
    font-size: 1.2rem;
    margin-right: 0.25em;
  }
}

.button-link-forward {
  &::after {
    content: " →";
    font-size: 1.2rem;
    margin-left: 0.25em;
  }
}